<div class="card is-shadowless "><header class="card-header "><h1 class="card-header-title title ">[@HTML.title@]</h1></header><div class="card-content "><div class="content ">[@HTML.content@]</div></div><footer class="card-footer ">[@HTML.footer@]</footer></div>