<div class="modal is-active " _="
		on closeModal 
			remove me 
		end 

		on keyup from window 
			js 
				if (event.keyCode == 27) { 
					htmx.trigger(htmx.find(&#39;.modal&#39;), &#39;closeModal&#39;);   
				} 
			end 
		end

		on click from .modal-background
			js
				htmx.trigger(htmx.find(&#39;.modal&#39;), &#39;closeModal&#39;); 
			end
		end
		"><div class="modal-background "></div><div class="modal-content ">[@HTML.content@]</div><button class="modal-close is-large " aria-label="close" _="on click trigger closeModal"></button></div>