<form id="[@ID.id@]" method="post" action="#" hx-post="[@HTML.formurl@]" _="
on resetFormValidation
	js
		let elm = event.srcElement;
		elm.setCustomValidity(&#39;&#39;);
		elm.reportValidity();
		let form = htmx.closest(elm, &#39;form&#39;);
		let	errs = htmx.find(form, &#39;.htmx-form-errors&#39;)
		if (errs != undefined) {
			errs.style.display = &#39;none&#39;;
		}
	end
end

on htmx:beforeSwap
	js
		let evt = event;
		if(evt.detail.xhr.status === 404){
				// alert the user when a 404 occurs (maybe use a nicer mechanism than alert())
				alert(&#39;Error: Could Not Find Resource&#39;);

		} else if(evt.detail.xhr.status === 422){
				//console.log(evt.detail);
				evt.detail.shouldSwap = false;  // tell htmx to not swap
				evt.detail.isError = false;     // tell htmx to not report an error in the log
				evt.detail.failed = false;


				const form = evt.srcElement
				const resp = JSON.parse(evt.detail.serverResponse);
				const msg_elm = htmx.find(form, &#39;.htmx-form-error-message&#39;)

				if (msg_elm != undefined) {
						msg_elm.innerHTML = &#39;The data could not be saved.&#39;;
				}


				for (const key in resp.Errors) {
					if (key !== &#39;&#39;) {
						var field = htmx.find(form, &#39;input[name=&#39; + key +  &#39;]&#39;)
						if (field != undefined) {
							field.setCustomValidity(resp.Errors[key]);
							field.reportValidity();
						} else {
							if (msg_elm != undefined) {
								msg_elm.innerHTML = msg_elm.innerHTML + resp.Errors[key];
							}
						}
					} else {
						if (msg_elm != undefined) {
							msg_elm.innerHTML = msg_elm.innerHTML + resp.Errors[key];
						}
					}
				}

				if (msg_elm != undefined) {
					const errs_elm = htmx.closest(msg_elm,  &#39;.htmx-form-errors&#39;)
					if (errs_elm != undefined) {
						errs_elm.style.display = &#39;block&#39;;
						errs_elm.classList.remove(&#39;is-hidden&#39;);
					}
				}
		}						
	end
end
"><div class="field "><label class="label ">name</label><div class="control "><input class="input " type="text" name="name" value="[@Text.name@]" disabled="disabled" /></div></div><div class="field "><label class="label ">command</label><div class="control "><input class="input " type="text" name="command" value="[@Text.command@]" _="on input trigger resetFormValidation" /></div></div><div class="field "><label class="label ">defaults</label>[@HTML.defaults@]</div><article class="message is-danger htmx-form-errors " style="display:none;"><div class="message-body "><pre class="htmx-form-error-message "></pre></div></article><div class="field is-horizontal "><div class="field-body "><div class="field "><label class="label "></label><div class="control "><input class="button is-info " type="submit" value="save" /></div></div><div class="field "><label class="label "> </label><div class="control "><input class="button is-warning " type="submit" value="cancel" _="on click trigger closeModal" /></div></div></div></div></form>