
/*
  some bulma fixes
*/

.card-footer .content li+li {
  margin-top: 0;
}

.tags.has-addons {
  padding-top: var(--bulma-control-padding-vertical);
  padding-bottom: var(--bulma-control-padding-vertical);
}

/* end of bulma fixes  */

#short-body .dropdown-item {
  font-size: .75rem;  
}

@media screen and (min-width: 1024px) {
  #short-body .navbar-dropdown {
    font-size: .75rem;    
  }
}

#main-content table td,
#main-content table th {
  vertical-align: middle;
}

