
[data-theme=short],
.theme-short {
/* CSS Variables */
  /* --bulma-link: rgb(34, 165, 188); */
 /* background-color: green; */
}

:root  #short-body  {
  /* --bulma-link: rgb(34, 165, 188); */
  --bulma-body-font-size: 0.75rem; 
/*  background-color: green; */
}

:root  #short-body * {
  /* --bulma-link: rgb(34, 165, 188); */
  --bulma-title-size: 1.2rem;
  --bulma-control-size: ;

  --bulma-size-small: 0.65rem;
  --bulma-size-normal: 0.75rem;
  --bulma-size-medium: 1rem;
  --bulma-size-large: 1.2rem;

  --bulma-section-padding: 3rem 1.5rem;
  --bulma-section-padding-desktop: 1rem 1rem;
  --bulma-section-padding-medium: 9rem 4.5rem;
  --bulma-section-padding-large: 18rem 6rem;
}
