
#short-body .dropdown-item {
  font-size: .75rem;  
}

@media screen and (min-width: 1024px) {
  #short-body .navbar-dropdown {
    font-size: .75rem;    
  }
}

#main-content table td,
#main-content table th {
  vertical-align: middle;
}